#container
  
  %form(action="/create" method="post")
    #left-part
      %label(for="full_name")Pangalan:
      %input(type="text" name="full_name" placeholder="Pakisulat ang buong pangalan...")

      %label(for="age")Edad:
      %input(type="number" name="age" min="16" max="120")

      %label(for="sex")Kasarian:
      %select(id="sex" name="sex")
        %option(value="M") Lalaki - (Male)
        %option(value="F") Babae - (Female)

      %label(for="work")Hanap-Buhay:
      %input(type="text" name="work" placeholder="Ano ang trabaho...")

      %label(for="address")Tirahan / Address:
      %textarea(name="address" rows="4" placeholder="Saan nakatira...")

      %label(for="benefits")Benipisyaryo ng 4Ps?
      %select(name="benefits")
        %option(value="yes") Oo - (Yes)
        %option(value="no") Hindi - (No)

    #right-part
      %h2 Mga katanungan:
      %ol
        %li Anong serbisyo o mga serbisyo dito sa Akbay-Kapwa ang iyong napakinabangan?
        %input(type="text" name="first_answer")

        %li Kuntento ka ba sa serbisyo o mga serbisyo na naibigay sa iyo?
        %input(type="text" name="second_answer")

        %li Bakit Oo/Hindi ang iyong sagot?
        %textarea(name="third_answer")

        %li Liban sa mga serbisyo dito sa Akbay-Kapwa, may iba pang serbisyo ng pamahalaan ang nais mong mapakinabangan? Paki-tukoy.
        %textarea(name="fourth_answer")

      %input(type="submit" id="submit" value="Save")
