#container
  
  %form(action="/create" method="post")
    #left-part
      %label(for="pangalan")Pangalan:
      %input(type="text" name="pangalan" placeholder="Pakisulat ang buong pangalan..." autofocus="autofocus")

      %label(for="edad")Edad:
      %input(type="number" name="edad" min="16" max="120")

      %label(for="kasarian")Kasarian:
      %select(id="kasarian" name="kasarian")
        %option(value="Lalaki") Lalaki
        %option(value="Babae") Babae

      %label(for="trabaho")Hanap-Buhay:
      %input(type="text" name="trabaho" placeholder="Ano ang trabaho...")

      %label(for="tirahan")Tirahan / Address:
      %textarea(name="tirahan" rows="4" placeholder="Saan nakatira...")

      %label(for="benipisyaryo")Benipisyaryo ng 4Ps?
      %select(name="benipisyaryo")
        %option(value="Oo") Oo
        %option(value="Hindi") Hindi

    #right-part
      %h2 Mga katanungan:
      %ol
        %li Anong serbisyo o mga serbisyo dito sa Akbay-Kapwa ang iyong napakinabangan?
        %input(type="text" name="unang_sagot")

        %li Kuntento ka ba sa serbisyo o mga serbisyo na naibigay sa iyo? (Oo/Hindi)
        %select(id="pangalawang_sagot" name="pangalawang_sagot")
          %option(value="Oo") Oo
          %option(value="Hindi") Hindi

        %li Bakit Oo/Hindi ang iyong sagot?
        %textarea(name="pangatlong_sagot")

        %li Liban sa mga serbisyo dito sa Akbay-Kapwa, may iba pang serbisyo ng pamahalaan ang nais mong mapakinabangan? Paki-tukoy.
        %textarea(name="pangapat_sagot")

      %input(type="submit" id="submit" value="Save")
