body { 
  font-family: Helvetica, sans-serif; 
  font-size: 14px;
  color: #555;
  margin: 0;
  padding: 0;
  background-color: #FEFEF2;
}

#container {
  width: 960px;
  height: 554px;
  margin: 5px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title-head { 
  background-color: #e3e3e3; 
  height: 70px;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 8px 0px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */ 
  text-shadow: white 0.1em 0.1em 0.2em;
} 
#title-head h4, #title-head h5 { margin-top: -20px; }

select, input, textarea { 
  font-size: 14px;
  font-family: Helvetica; 
  color: #555;
  padding: 5px; 
  width: 260px;
  border: 1px solid #aaa;
}
select { width: 180px; } 

form ol input[type=text] { width: 350px; }
form ol input[type=text], form ol textarea {
  margin-bottom: 15px;
}

label { display: block; margin-top: 5px; padding-top: 10px; }

li { 
  width: 350px; 
  line-height: 1.35;
  font-family: Times;
  font-size: 16px;
  font-style: italic;
}

label { 
  font-family: Times;
  font-size: 17px;
  font-style: italic;
  display: block;
  margin-top: 5px; 
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#left-part textarea { width: 260px; height: 50px; }
#right-part textarea { width: 350px; }
#right-part h2 { font-family: Times; text-align: center; }

#left-part, #right-part { 
  border: 1px solid #eee; 
  height: 500px;
  margin: 15px 10px;
  color: #444;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#left-part {
  position: relative;
  width: 270px;
  padding: 10px 35px;
  margin-left: 50px;
  float: left;
}

#right-part {
  width: 450px;
  margin-right: 50px;
  padding: 10px 20px;
  float: right;
}

#thick-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#fourth_question {
  margin-bottom: 20px;
}

#submit { 
  width: 180px; 
  height: 40px;
  font-size: 20px;
  margin-left: 125px;
  color: white;
  background-color: #5599cb;
  border-radius: 5px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}

#submit:hover {
  color: white;
  background-color: #5582cb;
}

footer {
  color: #fff;
  height: 46px;
  background-color: #333;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  padding-top: 15px;
  width: 960px;
  margin: 0 auto;
}

footer a:link, footer a:visited {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #C8D8E5;
  text-decoration: underline;
}
