body { 
  font-family: Helvetica, sans-serif; 
  font-size: 14px;
  color: #555;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #fff;
  width: 960px;
  height: 554px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title-head { 
  background-color: #e3e3e3; 
  height: 70px;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
} 
#title-head h4, #title-head h5 { margin-top: -20px; }

select, input, textarea { font-family: Helvetica; padding: 8px; }
select { width: 180px; } 

form ol input[type=text] { width: 300px; }

li { width: 350px; padding-top: 8px; line-height: 1.5; }
label { display: block; margin-top: 5px; padding-top: 10px; }

#left-part textarea { width: 200px; }
#right-part textarea { width: 350px; }
#left-part, #right-part { 
  border: 5px solid #eee; 
  background-color: #c8dbfc;
  height: 500px;
  margin: 15px 10px;
  color: #444;
}

#left-part {
  position: relative;
  width: 200px;
  padding: 10px 65px;
  margin-left: 50px;
  float: left;
}

#right-part {
  width: 450px;
  margin-right: 50px;
  padding: 10px 20px;
  float: right;
}

#thick-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#fourth_question {
  margin-bottom: 20px;
}

#submit { 
  width: 420px; 
  height: 40px;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 10px;
}

#submit:hover {
  color: green;
}

footer {
  color: #fff;
  height: 46px;
  background-color: #333;
}

footer p {
  padding-top: 15px;
  width: 960px;
  margin: 0 auto;
}

footer a:link, footer a:visited {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #C8D8E5;
  text-decoration: underline;
}
